.to-do-list{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin-top: 100px;
}
h1{
    font-size: 50px;
}
button{
    font-size:1rem;
    font-weight:bold;
    padding:10px 20px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5 ease;
}
.add-btn{
    background-color: rgb(3, 211, 3);
}
.delete-btn{
    background-color: rgb(179, 66, 66);
}
.move-btn{
    background-color: lightblue;
}
input[type="text"]{
    font-size:1.5rem;
    padding:10px;
    border:2px solid rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    color:rgba(0, 0, 0, 0.733)
}
ol{
    padding:0;
}
li{
    font-size:1.5rem;
    font-weight:bold;
    padding:15px;
    margin-bottom: 10px;
    border:3px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex:1;
}
.delete-btn,.move-btn{
    margin-left: 10px;
    padding:8px 12px;
}